@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.banner-bg {
  background-image: linear-gradient(
    135deg,
    hsl(240deg 100% 20%) 0%,
    hsl(240deg 100% 18%) -1%,
    hsl(0deg 0% 0%) 46%
  );
}

.border-gradient {
  border-image-source: linear-gradient(
    180deg,
    #030021 0%,
    #2516c1 8%,
    #6152fa 51%,
    #2516c1 95%,
    #0c064a 100%
  );
  border-image-slice: 1;
}

.bd {
  border: 2px solid red;
}
.footer-border-gradient {
  border-image-source: linear-gradient(
    90deg,
    #000000 0%,
    #060d6c 11%,
    #3c48eb 48%,
    #060d6c 89.5%,
    #000000 100%
  );
}
